.team-list {
  min-height: 500px;
  height: 500px;
  width: 700px;
  background-color: #fff;
  display: flex;
  box-shadow: 5px 5px 19px 3px grey;
  padding: 30px 30px;
  border-radius: 4px;
  flex-direction: column;
  overflow: auto;
}

.team-list-title {
  text-align: center;
}

.team-list-title th {
  padding-bottom: 30px;
}

td {
  opacity: 0;
  animation: fade 0.9s ease forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
